<ng-container
  *ngIf="{
    mb: mb$ | async,
    loading: (loading$ | async) || false,
    delay: (delay$ | async) || 0
  } as data"
>
  <button
    type="button"
    class="p-raised-button"
    [ngClass]="styleClass"
    [label]="
      isResponsive
        ? data.mb
          ? getLabel(data.delay)
          : ''
        : getLabel(data.delay)
    "
    [attr.aria-label]="label"
    [title]="label"
    [icon]="getIcon(data.delay, data.loading)"
    (click)="cb && cb($event)"
    [disabled]="canDisable(data.delay, data.loading)"
    pButton
  ></button>
</ng-container>
