<p-card class="card-flex" header="Write a post">
  <form
    [formGroup]="postsForm"
    class="p-fluid p-input-filled p-d-flex p-flex-column flex-1"
  >
    <div class="p-field">
      <label for="title" class="required">Title</label>
      <input
        pInputText
        appControl
        [validators]="postsValidators"
        id="title"
        formControlName="title"
      />
      <form-errors
        [form]="postsForm"
        control="title"
        [value]="getPostsFormValue('title')"
      ></form-errors>
    </div>
    <div class="p-field p-d-flex p-flex-column flex-1">
      <label class="required" for="content">Content</label>
      <textarea
        rows="10"
        cols="30"
        [autoResize]="true"
        pInputTextarea
        appControl
        [validators]="postsValidators"
        id="content"
        formControlName="content"
      ></textarea>
      <small id="content-help">{{
        (getPostsFormValue("content")?.length || 0) +
          " / " +
          postsValidators.content.maxlength
      }}</small>
      <form-errors
        [form]="postsForm"
        control="content"
        [value]="getPostsFormValue('content')"
      ></form-errors>
    </div>
  </form>

  <p-footer class="p-jc-end">
    <app-button
      styleClass="p-button-danger p-mr-2"
      label="Reset"
      icon="pi pi-refresh"
      [loading]="true"
      [cb]="onReset.bind(this)"
    ></app-button>
    <app-button
      styleClass="p-button-success"
      label="Submit"
      icon="pi pi-pencil"
      [delay]="true"
      [loading]="true"
      [invalid]="postsForm.invalid"
      [cb]="onSubmit.bind(this)"
    ></app-button>
  </p-footer>
</p-card>
