<!-- <nb-actions>
  <nb-action icon="home-outline" link="/" title="home"></nb-action>
</nb-actions>
<nb-menu [items]="menuItems" class="nav ml-auto d-none d-sm-block"> </nb-menu>
<button
  nbButton
  type="button"
  [nbContextMenu]="menuItems"
  class="ml-auto d-sm-none"
>
  <nb-icon icon="menu-2"></nb-icon>
</button> -->

<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      type="button"
      aria-label="home"
      icon="pi pi-home"
      class="p-button-rounded p-button-outlined p-button-secondary"
      routerLink="/"
    ></button>
  </div>
  <div class="p-toolbar-group-right">
    adfsdfsa
  </div>
</p-toolbar>
<!-- <p-menubar [model]="items" styleClass="top">

</p-menubar>
<p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
<button
  type="button"
  pButton
  icon="pi pi-list"
  label="Show"
  aria-label="show"
  (click)="menu.toggle($event)"
></button> -->
